<div class="container-fluid">
    <div class="row">
        <!-- add movie -->
        <div class="card bg-light text-dark w-short">
            <div class="card-header">
                <h4>{{'ADD_MOVIE' | translate }}</h4>
            </div>
            <div class="card-body">
                <form name="addMovieForm">
                    <div class="form-group">
                        <label for="movieTitle">{{'MOVIE_TITLE' | translate }}</label>
                        <input required type="text" ng-model="movieForm.title" class="form-control form-control-sm" id="movie-title"
                            name="movieTitle" required>
                    </div>
                    <div class="form-group">
                        <label for="movie-desc">{{'MOVIE_DESC' | translate }}</label>
                        <input required type="text" ng-model="movieForm.description" class="form-control form-control-sm"
                            id="movie-desc" name="movie-desc">
                    </div>

                    <div class="form-group">
                        <label for="movie-link">link (URL)</label>
                        <input required type="text" ng-model="movieForm.link" class="form-control form-control-sm" id="movie-link"
                            name="movie-link">
                    </div>

                    <div class="form-group">
                        <label for="movie-poster">{{'MOVIE_POSTER' | translate }} (URL)</label>
                        <input required type="text" ng-model="movieForm.poster" class="form-control form-control-sm" id="movie-poster"
                            name="movie-poster">
                    </div>

                    <div class="form-group">
                        <label for="movie-trailer">{{'MOVIE_TRAILER' | translate }} (URL)</label>
                        <input required type="text" ng-model="movieForm.trailer" class="form-control form-control-sm"
                            id="movie-trailer" name="movie-trailer">
                    </div>

                    <div class="form-group">
                       
                        <label for="movie-minutes">{{'MOVIE_MINUTES' | translate }}</label>
                        <input required type="text" ng-model="movieForm.minutes" id="movie-minutes" class="form-control form-control-sm" 
                            name="movie-minutes">
                    </div>
                    

                    <div class="form-group">
                        <label for="movie-lang">{{'MOVIE_LANG' | translate }}</label>
                        <select class="form-control form-control-sm" ng-model="movieForm.lang" id="movie-lang">
                            <option selected>PL</option>
                            <option>EN</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="movie-price">{{'MOVIE_PRICE' | translate }} PLN</label>
                        <input required type="text" ng-model="movieForm.price" class="form-control form-control-sm" id="movie-price"
                            name="movie-price">
                    </div>

                    <button ng-disabled="addMovieForm.movieTitle.$error.required" type="button" ng-click="addMovie()"
                        class="btn btn-primary">{{'ADD_MOVIE'
                        | translate }}</button>
                </form>
            </div>
        </div>
        <!-- all movies -->
        <div class="card w-long">
            <div class="card-header">
                <h4>{{'ALL_MOVIES' | translate }}</h4>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>{{'MOVIE_POSTER' | translate }}</th>
                            <th>{{'MOVIE_TITLE' | translate }}</th>
                            <th>{{'MOVIE_DESC' | translate }}</th>
                            <th>{{'MOVIE_MINUTES' | translate }}</th>
                            <th>{{'MOVIE_PRICE' | translate }}</th>
                            <th>{{'MOVIE_LANG' | translate }}</th>
                            <th>{{'OPTIONS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="movie in movies">
                            <td><img class="movie-poster" ng-src="{{movie.poster}}" alt="poster" /></td>
                            <td>{{movie.title}}</td>
                            <td>{{movie.description}}</td>
                            <td>{{movie.minutes}}</td>
                            <td>{{movie.price}} PLN</td>
                            <td>{{movie.lang}}</td>
                            <td><a class="btn btn-link" ng-click="removeMe($index)"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="row">

        <!-- add showing -->
        <div class="card bg-light text-dark w-short">
            <div class="card-header"><h4>{{'ADD_SHOWING_TITLE' | translate }}</h4></div>
            <div class="card-body">
                <form name="addShowingForm">
                    <div class="form-group">
                        <label for="showingDate">{{'SHOWING_DATE' | translate }}</label>
                        <input required type="date" ng-model="showingForm.date" class="form-control form-control-sm" id="showingDate"
                            name="showingDate" required>
                    </div>

                    <div class="form-group">
                        <label for="showingTime">{{'SHOWING_TIME' | translate }}</label>
                        <input required type="time" ng-model="showingForm.time" class="form-control form-control-sm" id="showingTime"
                            name="showingTime" required>
                    </div>

                    <div class="form-group">
                        <label for="showingMovie">{{'MOVIE_TITLE' | translate }}</label>
                        <select required class="form-control form-control-sm" ng-model="showingForm.movie" id="showingMovie">
                            <option ng-repeat="option in movies" value="{{option.id}}">{{option.title + " (" + option.lang + ")"}}</option>
                           
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="showingRoom">{{'ROOM' | translate }}</label>
                        <select required class="form-control form-control-sm" ng-model="showingForm.room" id="showingRoom">
                            <option ng-repeat="option in rooms" value="{{option.id}}">{{option.name}}</option>
                           
                        </select>
                    </div>
                    <button type="button" ng-click="addShowing()" class="btn btn-primary">{{'ADD_SHOWING'
                        | translate }}</button>
                </form>
            </div>
        </div>

        <!-- all showings -->
        <div class="card w-long">
            <div class="card-header">
                <h4>{{'ALL_SHOWINGS' | translate }}</h4>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>{{'SHOWING_DATE' | translate }}</th>
                            <th>{{'SHOWING_END_DATE' | translate }}</th>
                            <th>{{'MOVIE_TITLE' | translate }}</th>
                            <th>{{'MOVIE_LANG' | translate }}</th>
                            <th>{{'ROOM' | translate }}</th>
                            <th>{{'OPTIONS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="showing in showings">
                            <td>{{showing.datetime | date : "d.MM.yyyy H:mm"}}</td>
                            <td>{{showing.endDatetime | date : "d.MM.yyyy H:mm"}}</td>
                            <td>{{showing.movie.title}}</td>
                            <td>{{showing.movie.lang}}</td>
                            <td>{{showing.room.name}}</td>
                            <td><a class="btn btn-link" ng-click="removeShowing($index)"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>