body header nav {
  display: flex;
  justify-content: space-between !important;
}
body header nav #pl, body header nav #en {
  cursor: pointer;
}
body header nav .active-lang .nav-link {
  color: gold !important;
}
body .container {
  margin-bottom: 10px;
}
body .container #legend {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container #legend div {
  padding: 10px;
  margin-right: 5px;
}
body .container #legend div:nth-child(1) {
  background-color: #ffea15;
}
body .container #legend div:nth-child(2) {
  background-color: #eaa01f;
}
body .container #legend div:nth-child(3) {
  background-color: #555;
  color: white;
}
body .container #legend div:nth-child(4) {
  background-color: #222;
  color: white;
}
body .container #legend div:nth-child(5) {
  background-color: #1f73ea;
}
body .container .kino {
  display: flex;
  flex-direction: column;
}
body .container .kino .screen {
  height: 15px;
  background-color: #333;
  margin-bottom: 10px;
}
body .container .kino .kono-row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
body .container .kino .kono-row .row-inner {
  width: fit-content;
  display: flex;
}
body .container .kino .kono-row .row-inner .seat-k {
  height: 50px;
  background-color: #555;
  margin: 5px;
  width: 50px;
}
body .container .kino .kono-row .row-inner .seat-k button {
  width: 100%;
  height: 100%;
  border: none;
}
body .container .kino .kono-row .row-inner .seat-k button.normal {
  background-color: #ffea15;
}
body .container .kino .kono-row .row-inner .seat-k button.discount {
  background-color: #eaa01f;
}
body .container .kino .kono-row .row-inner .seat-k button.myTicket {
  background-color: #1f73ea !important;
  color: white !important;
}
body .container .kino .kono-row .row-inner .seat-k button:disabled, body .container .kino .kono-row .row-inner .seat-k button[disabled] {
  background-color: #222;
}
body .container .buy-banner {
  margin-top: 10px;
}
body .container .movie-poster {
  max-width: 100px;
  height: 150px;
  object-fit: cover;
}
body .container #movies-top {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}
body .container .card img {
  height: 200px;
  object-fit: cover;
  object-position: 50% 0;
}
body .container .buy-banner {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
body .container-fluid {
  margin-bottom: 10px;
}
body .container-fluid table .movie-poster {
  max-width: 100px;
  max-height: 100px;
}
body .container-fluid .w-short {
  width: 30%;
}
body .container-fluid .w-long {
  width: 65%;
}
body .container-fluid .card {
  margin: 0 0 0 0.5%;
}
body .container-fluid .row {
  padding: 0.5% 0.5% 0 0;
}
body .mr-10 {
  margin-right: 10px;
}
body .mt-10 {
  margin-top: 10px;
}
body .w-60 {
  width: 60% !important;
}

body.skinOne {
  background-image: url("../image/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body.skinOne nav.navbar {
  background-color: #007bff !important;
}

body.skinTwo {
  background-image: url("../image/3.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
body.skinTwo nav.navbar {
  background-color: #ffc107 !important;
}
