body.skinTwo{
    
        background-image: url("../image/3.jpg");
        background-position: center; 
        background-repeat: repeat-y; 
        background-size: cover;
        nav.navbar{
            background-color: #ffc107 !important;
        }
    
    
}